.range-content {
    text-align: center;

    .content {

        background: rgba(1, 8, 25, 0.822);
        height: 30px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 12px;
        display: flex;
        input {
            margin: 0 190px;
            
        }
    }
}